<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><font  size="4" face="font-stretch">Disk Memory</font ></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-diskmemory" >
<ion-card> 
  <ion-item-divider  class="page-diskmemory3"><p align=center><font color="#000000"size="4" face="verdana"> Memory</font ></p></ion-item-divider>
    <ion-item class="page-diskmemory2" *ngFor="let obj of objs.memory">
    <ion-label  item-start >  <font color="#000000" size="3">  {{ obj.ci_id }}</font ></ion-label>  <ion-label  item-start ><font color="#00B2EE" size="3" face="font_family"> {{obj.metric_value}} %</font ></ion-label><button ion-button color="secondary" (click)="showChart(obj)" item-end>show</button>
    </ion-item>
  </ion-card>


  <ion-card>
    <ion-item-divider class="page-diskmemory3"><p align=center><font color="#00000" size="4"  face="verdana">Disk</font ></p></ion-item-divider>
    <ion-list >
      <ion-item class="page-diskmemory2" *ngFor="let obj of objs.disks" >
        <ion-label  item-start><font color="#000000" size="3" face="font_family">  {{ obj.ci_id}}</font ></ion-label>  <ion-label  item-start><font color="#00B2EE" size="3" face="font_family">  {{obj.metric_value}}%</font ></ion-label><button ion-button color="secondary" (click)="showdisk(obj)" item-end>show</button>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>


<ion-footer >
  <ion-toolbar >
    <p Align=center><font color="#FF3300" > </font></p>
  </ion-toolbar>
</ion-footer>
