.page-cron {
  background-image: url('../assets/img/button2.jpg');
}
.page-crons1 {
  background-image: url('../assets/img/back.jpg');
}
.page-crons2 {
  background-image: url('../assets/img/mc4.jpg');
}
